*{
  background-color: white;
  margin: 0;
  resize: none;
  
}

header{
  display: flex;
  height: 20px;
  width: 400px;
}

.main{
  width: 400px;
}
.conteiner№1{
  display: flex;
  width: 400px;
  background-color: #ff86e1;
}

.position_tovar{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin: auto;
  background-color: #ff86e1;
  border-radius: 100%;
  
}


.img{
  border-radius: 10%;
  width: 75px;
  margin: auto;
  background-color: #ff86e1;
}


span{
  background-color: #ff86e1;
  width: 100px;

}


div.title{
  width: 75px;
  top: 50%;
  text-align: center;
  background-color: #ff86e1;
  width: 100px;
  color: #ff0000ba;
  font-family: 'Satisfy', cursive;
}

.btn{
  background-color: #4DDE00;
  width: 100px;
}


header.scrollmenu {
  height: 50px;
  overflow: auto;
  white-space: nowrap;
  
  
}

header.scrollmenu a {
  width: 400px;
  background-color: #ff0000ba;
  display: flex;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: pink;
  border: #000000 solid 1px;
  
  
}

header.scrollmenu a:hover {
  background-color: #777;
}

.main_tittle{
  text-align: center;
  background-color: #ff86e1;
}